Repository charkitch/forehead-knower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json, markdown-link-check, yaml-lint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md}": ["prettier --write"],
  "package.json": ["sort-package-json", "prettier --write"],
  "*.md": ["markdown-link-check"],
  "*.yaml": ["yaml-lint", "prettier --write"],
  "*.{html,yaml,yml}": ["prettier --write"]
}

add base
  vite.config.ts
Due: eslint --fix, prettier --write

chaining
  src/components/Game.tsx
Due: eslint --fix, prettier --write

switch to actions
  .github/workflows/deploy.yml
Due: prettier --write

use orientation
  src/components/Game.tsx
  src/utils/useMotionControls.ts
Due: eslint --fix, prettier --write

decompose main game file
  src/components/CurrentWord.tsx
  src/components/Game.tsx
  src/components/GameControls.tsx
  src/components/GameProgress.tsx
  src/components/MotionControls.tsx
  src/components/StartGameButton.tsx
  src/components/TabooWordsCheckbox.tsx
  src/components/ThemeSelector.tsx
Due: eslint --fix, prettier --write

add feedback
  src/components/FeedbackMessage.tsx
  src/components/Game.tsx
Due: eslint --fix, prettier --write

add feedback modal
  src/components/BasicModal.tsx
  src/components/FeedbackMessage.tsx
  src/components/Game.tsx
  src/components/GameControls.tsx
Due: eslint --fix, prettier --write

tune sensors
  src/components/Game.tsx
  src/utils/useMotionControls.ts
Due: eslint --fix, prettier --write

with debugging
  src/components/MotionControls.tsx
  src/utils/useMotionControls.ts
Due: eslint --fix, prettier --write

remedy ts build error
  src/utils/useMotionControls.ts
Due: eslint --fix, prettier --write

branch_for_sensor_debugging
  .github/workflows/deploy.yml
Due: prettier --write

smooth out sensor
  src/utils/useMotionControls.ts
Due: eslint --fix, prettier --write

add tests, update smoothing
  jest.config.ts
  package-lock.json
  package.json
  src/utils/useMotionControls.ts
  tests/hooks/useMotionControls/debounce.test.ts
  tests/hooks/useMotionControls/initial-state.test.ts
  tests/hooks/useMotionControls/motion-detection.test.ts
  tests/hooks/useMotionControls/setup.ts
  tests/setupTests.ts
Due: eslint --fix, prettier --write, sort-package-json

giving up for now
  package-lock.json
  package.json
  src/utils/calculateSmoothBeta.ts
  src/utils/checkIOSPermissionAPI.ts
  src/utils/handleOrientation.ts
  src/utils/useMotionControls.ts
  tests/hooks/useMotionControls/debounce.test.ts
  tests/hooks/useMotionControls/initial-state.test.ts
  tests/hooks/useMotionControls/setup.ts
Due: eslint --fix, prettier --write, sort-package-json

calculate beta tests
  tests/utils/calculateSmoothBeta.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

ios test
  src/utils/checkIOSPermissionAPI.ts
  tests/utils/checkIOSPermissionAPI.test.ts
Due: eslint --fix, prettier --write

update
  package-lock.json
Due: prettier --write

update package
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

orientation test
  tests/utils/calculateSmoothBeta.test.ts
  tests/utils/checkIOSPermissionAPI.test.ts
  tests/utils/handleOrientation.test.ts
Due: eslint --fix, prettier --write

debounce and updated handle
  src/utils/handleOrientation.ts
  tests/hooks/useMotionControls/debounce.test.ts
  tests/utils/handleOrientation.test.ts
Due: eslint --fix, prettier --write

motion detection
  tests/hooks/useMotionControls/motion-detection.test.ts
Due: eslint --fix, prettier --write

remove ios test for now
  tests/hooks/useMotionControls/initial-state.test.ts
Due: eslint --fix, prettier --write

better spoler words display
  src/components/CurrentWord.tsx
  src/components/Game.tsx
  src/components/SpoilerWordsCheckbox.tsx
  src/components/TabooWordsCheckbox.tsx
  src/data/themes/defaults/cities.json
  src/data/themes/defaults/lotr.json
  src/data/themes/defaults/opera.json
  src/data/themes/defaults/periodic.json
  src/data/themes/defaults/revolution.json
  src/data/themes/defaults/sports.json
  src/data/themes/defaults/wizard_people.json
  src/data/words.tsx
  src/types/game.ts
Due: eslint --fix, prettier --write

add scoreboard
  src/components/Game.tsx
  src/components/ScoreboardModal.tsx
Due: eslint --fix, prettier --write

update readme and page title
  README.md
  index.html
Due: prettier --write, markdown-link-check
